@model Assignment.WebApp.Models.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Ljud & Bild";
}
<h2>Ljud & bild</h2>
<br />
@foreach (var p in Model.Products)
{
    if (p.Category == "Ljud & bild")
    {
        <div class="mb-3">
            <div><strong>@p.Name</strong></div>
            <div class="text-muted">@p.Description</div>
            <div class="text-muted">@p.Category</div>
            <a asp-action="Details" asp-route-id="@p.Id"> Details </a>
        </div>
    }


}